@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Error";
    ViewBag.NavRight = "System Error!";
}

<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <!-- Royalty-free image taken from: https://pixabay.com/en/red-cross-error-crossed-wrong-31226/ -->
            <div id="system-error-wrapper">
                <img src="~/Images/system_error.png" />
                <h2>OOPS!</h2>
                <h3>An unexpected error occurred while processing your request.</h3>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>