@model dynamic

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CountDown v1.0</h2>
<p>Available pages:</p>
<ul>
    <li>@Html.ActionLink("User registration", "Register", "User")</li>
    <li>@Html.ActionLink("User login", "Login", "User")</li>
    <li>@Html.ActionLink("Create ToDo", "Create", "ToDo")</li>
    <li>@Html.ActionLink("List ToDo", "List", "ToDo")</li>
</ul>