@model IPagedList<CountDown.Models.Domain.ToDoItem>

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts
{
    <script type="text/javascript">
        // Global variables
        var completeUrl = '@Url.RouteUrl("CompleteToDo")';
        var editUrl = '@Url.RouteUrl("EditToDo")';
    </script>
    <script src="~/Scripts/Home/index.js"></script>
}

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="top-buffer"></div>
            @{ Html.RenderPartial("_IndexOptionsPane"); }
        </div>
        <div class="col-md-9">
            <h3>To-Do Items</h3>
            @if (TempData["indexMessage"] != null)
            {
                <div id="index-message-wrapper">
                    <div id="index-message">@TempData["indexMessage"]</div>
                </div>
            }
            <hr/>
            @{ Html.RenderPartial("_IndexToDoItemTable"); }
            @{ Html.RenderPartial("_IndexMvcPager"); } 
        </div>
    </div>
</div>